<?php

/**
 * Copyright © OXID eSales AG. All rights reserved.
 * See LICENSE file for license details.
 */

// Database connection information
$this->dbType = 'pdo_mysql';
$this->dbHost = 'localhost'; // database host name
$this->dbPort = '3306'; // database port
$this->dbName = 'test_doctrine_migration_wrapper'; // database name
$this->dbUser = 'root'; // database user name
$this->dbPwd = ''; // database user password
